* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #ddd; */
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ml-auto {
  margin-left: auto;
}

.mright-3 {
  margin-right: 4px;
}
.mleft-3 {
  margin-left: 14px;
}

.cursor-pointer {
  cursor: pointer;
}

.alert-popup {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 101;
  transform: translate(-50%, -100%);
  animation: showAlert 0.5s ease-out forwards;
}

@keyframes showAlert {
  from {
    transform: translate(-50%, -100%);
  }
  to {
    transform: translate(-50%, 0);
  }
}

.grid {
  display: flex;
}
